@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --blue-intro-email: hsl(217, 28%, 15%);
    --blue-main-bg: hsl(218, 28%, 13%);
    --blue-footer-bg: hsl(216, 53%, 9%);
    --blue-testimonials-bg: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --blue-hover: hsl(198, 99%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    /* Устанавливаем цвет текста на странице в белый */
    color: white;
    /* Устанавливаем шрифт для текста на странице с использованием пользовательской переменной --font-secondary */
    font-family: var(--font-secondary);
    /* Запрещаем горизонтальную прокрутку страницы */
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


.nav-item a:hover{
    color: #00EEFF;
}

.header {
    /* Устанавливаем цвет фона с использованием пользовательской переменной --blue-intro-email */
    background-color: var(--blue-intro-email);
    /* Устанавливаем ширину элемента равной ширине видимой области окна браузера */
    width: 100vw;
    /* Устанавливаем высоту элемента равной 80 пикселям */
    height: 80px;
    /* Размещаем дочерние элементы внутри родительского элемента по горизонтали */
    display: flex;
    /* Выравниваем содержимое родительского элемента */
    align-items: center;
    /* Устанавливаем размер шрифта равным 16 пикселям */
    font-size: 16px;
}

.header-container {
    /* Устанавливаем ширину элемента равной 90% от ширины его контейнера */
    width: 90%;
    /* Устанавливаем максимальную ширину элемента, чтобы он не превышал 1440 пикселей */
    max-width: 1440px;
    /* Размещаем дочерние элементы внутри родительского элемента по горизонтали */
    display: flex;
    /* Выравниваем содержимое родительского элемента по вертикали */
    align-items: center;
    /* Распределяем свободное пространство между дочерними элементами по горизонтали */
    justify-content: space-between;
    /* Устанавливаем автоматичесные отступы по вертикали и горизонтали */
    margin: 0 auto;
}

.logo {
    height: 130px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: 1em;
}

/*  Работа с фоном */
.containor {
    /* Устанавливаем размер шрифта для текста в элементе 24 пикселя */
    font-size: 24px;
    /* Устанавливаем цвет фона элемента с использованием пользовательской переменной --blue-intro-email */
    background-color: var(--blue-intro-email);
    /* Устанавливаем изображение в качестве фона элемента, указывая путь к файлу */
    background-image: url(./images/bg-curvy-mobile.svg);
    /* Запрещаем повторение фонового изображения */
    background-repeat: no-repeat;
    /* Устанавливаем позицию фонового изображения по вертикали внизу элемента */
    background-position: bottom;
    /* Устанавливаем размер фонового изображения равным 150% от размеров контейнера */
    background-size: 150%;
}


.box {
    /* Устанавливаем ширину элемента равной 85% от ширины его контейнера */
    width: 85%;
    /* Устанавливаем максимальную ширину элемента, чтобы он не превышал 500 пикселей */
    max-width: 500px;
    /* Устанавливаем автоматичесные отступы по вертикали и горизонтали, чтобы элемент был отцентрирован по горизонтали */
    margin: 0 auto;
    /* Устанавливаем внутренние отступы сверху и снизу в 1 эм, а справа и слева - 0 */
    padding: 1em 0 1.5em;
    /* Размещаем дочерние элементы внутри родительского элемента в виде колонки */
    display: flex;
    /* Устанавливаем направление размещения дочерних элементов в колонке */
    flex-direction: column;
    /* Выравниваем содержимое родительского элемента по центру по горизонтали */
    align-items: center;
    /* Устанавливаем выравнивание текста по центру внутри элемента */
    text-align: center;
}

.box-image {
    max-width: 100%;
}

.box-title {
    /* Устанавливаем шрифт для текста элементов с использованием пользовательской переменной --font-primary */
    font-family: var(--font-primary);
    /* Устанавливаем размер шрифта 1em (равный размеру базового текста) */
    font-size: 1em;
    /* Устанавливаем внутренний отступ сверху для элементов в размере 1 эм */
    padding-top: 1em;
    /* Устанавливаем высоту строки в 1.5 раза больше размера шрифта */
    line-height: 1.5em;
}

.box-desc {
    font-size: 0.6em;
    padding: 1em 0 2em;
}

.button {
    /* Устанавливаем размер шрифта для текста в элементе 14 пикселей */
    font-size: 14px;
    /* Устанавливаем ширину элемента равной 80% от ширины его контейнера */
    width: 80%;
    /* Устанавливаем максимальную ширину элемента, чтобы он не превышал 300 пикселей */
    max-width: 300px;
    /* Устанавливаем высоту элемента в зависимости от содержимого */
    height: auto;
    /* Устанавливаем границы для кнопки в виде скругленных углов */
    border: none;
    border-radius: 50px;
    /* Устанавливаем цвет фона кнопки с использованием пользовательской переменной --blue */
    background-color: var(--blue);
    /* Устанавливаем шрифт для текста кнопки с использованием пользовательской переменной --font-primary */
    font-family: var(--font-primary);
    /* Устанавливаем насыщенность (жирность) шрифта кнопки */
    font-weight: 700;
    /* Устанавливаем внутренние отступы сверху и снизу в 1.3 эм, а справа и слева - 0 */
    padding: 1.3em 0;
    /* Удаляем контур кнопки */
    outline: none;
    /* Задаем время для анимации перехода между состояниями кнопки */
    transition: .3s;
    /* Устанавливаем цвет текста кнопки в белый */
    color: white;
    /* Устанавливаем курсор указателя при наведении на кнопку */
    cursor: pointer;
}

.button:hover {
    background-color: rgb(74, 74, 120);
}

.containor-2 {
    background-color: var(--blue-main-bg);
    font-size: 18px;
}

.box-2 {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    width: 340px;
    height: 200px;

    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(70px); /* Изначально смещаем элемент вниз */
    transition: transform 2s ease, opacity 2s ease; /* Увеличиваем время анимации */
}
.box-images.active {
    transform: translateY(0); /* При добавлении класса active смещаем элемент обратно вверх */
    opacity: 1;
}

.image-container {
    margin: auto 0;
    height: 50%;
}

.info {
    height: 50%;
}

.title {
    font-family: var(--font-primary);
    font-size: 1em;
    text-align: center;
}

.desc {
    text-align: center;
    font-size: 0.777em;
   
}

.box-3{
    background-color: var(--blue-main-bg);
    font-size: 18px;
    padding: 3em 0;
}

.container-3 {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    
}

.box-image3 {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease-in-out; /* Добавляем анимацию для плавного перехода */
    transform: scale(1);

    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(70px); /* Изначально смещаем элемент вниз */
    transition: transform 1s ease, opacity 2s ease; /* Увеличиваем время анимации */
}
.box-image3.active {
    transform: translateY(0); /* При добавлении класса active смещаем элемент обратно вверх */
    opacity: 1;
}

.box-image3:hover {
    transform: scale(1.1);
}

.containor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(70px); /* Изначально смещаем элемент вниз */
    transition: transform 1s ease, opacity 2s ease; /* Увеличиваем время анимации */
}
.containor-info.active {
    transform: translateY(0); /* При добавлении класса active смещаем элемент обратно вверх */
    opacity: 1;
}

.containor-title {
    font-size: 1em;
    padding-top: 2em;
}

.containor-desc {
    font-size: 0.777em;
    padding-top: 1em;
}

.link {
    display: inline-block;
    font-size: 0.777em;
    padding-top: 1.5em;
    color: rgb(64, 205, 205);
    text-decoration: underline;
}

.link:hover{
    color: rgb(74, 74, 120);
}

.computer-image {
    height: 80px; 
}

.dots {
    background-color: var(--blue-main-bg);
    font-size: 12px;
}



.dots-container {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dots-card {
    background-color: var(--blue-testimonials-bg);
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 5px;
    max-width: 320px;
}

.dots-card:hover
{
    background-color: var(--blue-hover);
}

.dots-card:first-child {
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 0 -1.5em;
}

.dots-card:last-child {
    margin-bottom: 0;
}

.dot-card {
    font-size: 1em;
    line-height: 1.5em;
}

.dots-cards {
    display: flex;
    padding-top: 1em;
}

.dot-user {
    height: 3em;
    border-radius: 50%;
}

.dot-info {
    padding-left: 1em;
}

.dot-user {
    font-weight: 700;
}

.sign-up {
    background-color: var(--blue-main-bg);
    font-size: 12px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 9em;
    background-color: var(--blue-intro-email);
    border-radius: 5px;
    box-shadow: 6px 7px 19px -1px rgba(0, 0, 0, 0.75);
    padding: 2.5em;
}

.sign-up-title {
    font-size: 1.5em;
    text-align: center;
}

.sign-up-desc {
    padding: 1.5em 0 2em;
    line-height: 1.5em;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: initial;
    width: 100%;
}

.sign-up-input {
    width: 100%;
    max-width: auto;
    height: 45px;
    border: none;
    border-radius: 50px;
    padding-left: 2em;
    outline: none;
}

.button-form {
    max-width: initial;
    width: 100%;
    margin-top: 1.5em;
}

.button-form:hover {
    background-color: rgb(74, 74, 120);
}

.footer {
    background-color: var(--blue-footer-bg);
    font-size: 12px;
}

.footer-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 12em 0 2em;
}

.footer-section-contact {
    display: flex;
    margin: 1em 0;
}

.footer-icon-container {
    /* Размещаем дочерние элементы внутри родительского элемента */
    display: flex;
    /* Выравниваем содержимое родительского элемента по центру по вертикали */
    align-items: center;
    /* Распределяем свободное пространство вокруг дочерних элементов внутри родительского элемента по горизонтали */
    justify-content: center;
    /* Устанавливаем ширину элемента равной 10% от ширины его контейнера */
    width: 10%;
}

.footer-contact-info {
    width: 90%;
    padding-left: 1em;
}

.footer-info {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding: .8em 0;
}

.footer-item {
    padding-top: 1em;
}

.footer-link {
    font-size: 1em;
    line-height: 1.5em;
}

.footer-link:hover {
    color: #00EEFF;
}

.sign-up-container {
    padding: 1.5em 2.5em;
}

.sign-up-title {
    font-size: 2em;
}

.sign-up-desc {
    font-size: 1em;
    width: 80%;
}

.footer {
    font-size: 18px;
}

.footer-content {
    display: flex;
}

.footer-contact {
    width: 40%;
}

.footer-info {
    width: 40%;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}

.footer-list {
    width: 50%;
}

.footer-item:first-child {
    padding: 0;
}

.footer-social-networks {
    width: 20%;
}

.footer-copy {
    padding: 3em 0 0;
}

@media screen and (min-width: 768px) {
    .header-container {
        font-size: 21px;
    }

    .dots-container {
        flex-direction: row;
        width: initial;
    }

    .dots-card {
        margin: 0 1em;
    }


    .containor {
        font-size: 28px;
        background-image: url(./images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: initial;
    }

    .dots {
        font-size: 16px;
    }

}

@media screen and (min-width: 1024px) {
    .header-container {
        font-size: 25px;
    }

    .box-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box-images {
        max-width: 50%;
        height: auto;
        padding: 1em;
    }

    .dots-container {
        flex-direction: row;
        width: initial;
    }

    .dots-card {
        margin: 0 2em;
    }

    .sign-up {
        font-size: 16px;
    }

    .sign-up-form {
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .sign-up-input {
        width: 70%;
        height: 53px;
        margin-right: 1em;
    }

    .button-form {
        width: 30%;
        height: 53px;
        margin: 0;
    }

    .how-works {
        font-size: 32px;
    }

    

} 

@media screen and (min-width: 1440px) {
    .containor {
        background-position-y: 8em;
        background-size: cover;
    }

    .header-container {
        font-size: 28px;
    }

}

.dots-card {
    transition: transform 0.3s ease-in-out; /* Добавляем анимацию для плавного перехода */

    /* Определяем начальный масштаб элемента */
    transform: scale(1);
}

.dots-card:hover {
    /* Увеличиваем масштаб элемента при наведении */
    transform: scale(1.1);
}




.dots {
    position: relative;
    overflow: hidden;
}

/* мертвая зона*/
.dots::before,
.dots::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: var(--blue-main-bg);
    z-index: 1  ;
}

.dots::before {
    left: 0;
}

.dots::after {
    right: 0;
}
/* мертвая зона*/

.dots-container {
    display: flex;
    transition: transform 0.5s ease;
}
.dots-card {
    flex: 0 0 25%; /* Используем 90% ширины родительского контейнера */
}



/* Дополнительный стиль для кнопок (необязательно) */
#prevButton,
#nextButton {
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.np-button
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.buttonDots1
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.buttonDots2
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.buttonDots1{
    transition: transform 0.3s ease-in-out; /* Добавляем анимацию для плавного перехода */
    /* Определяем начальный масштаб элемента */
    transform: scale(1);
}

.buttonDots1:hover{
    /* Увеличиваем масштаб элемента при наведении */
    transform: scale(1.1);
}

.buttonDots2{
    transition: transform 0.3s ease-in-out; /* Добавляем анимацию для плавного перехода */
    /* Определяем начальный масштаб элемента */
    transform: scale(1);
}

.buttonDots2:hover{
    /* Увеличиваем масштаб элемента при наведении */
    transform: scale(1.1);
}



.logo-button + .logo-button {
    margin-left: 20px; /* добавленное расстояние между кнопками */
}

.logo-button img {
    max-width: 100%;
    height: auto;
}
/* Дополнительный стиль для кнопок (необязательно) */   